<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ee93c9a8-0328-4488-9005-361c0e735dc1" name="Global Setup" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ee93c9a8-0328-4488-9005-361c0e735dc1fileName">Global Setup</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>